

* {
    color: #333333;
    font-family: 'Roboto', sans-serif;
	margin:0;
	padding:0;
}

html { 
	overflow-y:scroll; 
	overflow-x:hidden;
	box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
	color: #121212;
	font-size: medium;
}
	
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}

.container {
    max-width: 100%; !important;
}

.header-wrapper header {
    background: #ffc625;
}

.header-wrapper header {
    align-items: baseline;
/*    border-bottom: 1px solid #333333;*/
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    overflow: hidden;
    padding: 8px 18%;
}

.header-wrapper header .header-text {
    flex-grow: 14;
    font-family: 'Montserrat', sans-serif;
}

.header-wrapper header .header-text h1 {
    display: inline-block;
    font-family: 'Bitter', serif;
	font-size: 32px;
}

.header-wrapper header .header-text h2 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-left: 6px;
}

.header-wrapper header .header-text h1 span {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.header-wrapper header .header-buttons {
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: center;
}

.header-wrapper header .header-buttons a > i {
}

.header-wrapper header .header-buttons::hover {
    background: #ffc625;
}

.main-content-hold > div {
    background: #f9f9f9;
/*    border-left: 1px solid #333333;*/
/*    border-right: 1px solid #333333;*/
    margin: 0px 17%;
    padding: 30px 2% 20px;
    width: 66%;
}

.intro-hold {
	padding-bottom: 30px;
    padding-top: 30px;
}

.intro-hold .intro {
    padding-bottom: 35px;
    padding-top: 15px;
}

.intro-hold .intro > h3 {
    font-family: 'Bitter', serif;
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 600;
}

intro-hold .intro .fonts-body {
    font-size: 18px;
    line-height: 28px;
}

.intro-hold .resume-icon {
}

.intro-hold .resume-icon .icon-hold {
    margin-top: 45px;
    padding: 0 20%;
}

.intro-hold .resume-icon .icon-hold img {
    max-height: 120px;
}

.intro-hold .resume-icon .icon-hold p {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    margin-top: 15px;
    text-align: center;
}

.intro-hold .resume-icon .icon-hold p a {
    text-decoration: none;
}

.section .section-title {
    border-bottom: 1px solid #a2a2a2;
    font-family: 'Bitter', serif;
    font-weight: 400;
    padding-bottom: 2px;
}

/**  ------------ Skills ------------ **/

.skills > .row {
    padding-top: 15px;
}

.skills .skills-column > p {
    font-size: 16px;
    font-weight: bold;
}

.skills .skills-column > ul {
    padding-left: 30px;
}

.skills .skills-column > ul > li{
    font-size: 14px;
}

/**  ------------ Gallery ------------ **/

.gallery .gallery-row > div > div {
}

.gallery .gallery-content {
    padding: 10px 0;
}

.gallery .gallery-row {
    margin-bottom: 10px;
    margin-top: 10px;
}

.gallery .gallery-row:first-of-type {
    margin-top: 0;
}

.gallery .gallery-row:last-of-type {
    margin-bottom: 0px;
}

.gallery .gallery-row.multiple > div {
    margin: 4px 0;
    width: 50%
}

.gallery .gallery-row.multiple > div:nth-of-type(2n+0) {
    padding-left: 1%;
}

.gallery .gallery-row.multiple > div:nth-of-type(2n+1) {
/*    border-right: 1px solid #a2a2a2;*/
    padding-right: 1%;
}

.gallery .gallery-row .project-desc-hold h6 {
    color: #777777;
    font-family: 'Bitter', serif;
    font-weight: 600;
    margin-bottom: 4px;
}

.gallery .gallery-row .project-desc-hold p {
    font-size: 13px;
    font-weight: 300;
    line-height: 17px;
}

.gallery .gallery-row .project-image-hold {
    background: #ffc625;
/*
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
    -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
*/
    clip-path: inset(5% 20% 15% 10%);
    -webkit-clip-path: inset(5% 20% 15% 10%);
    height: 110px;
    text-align: center;
}

.gallery .gallery-row > .col-4 > div > a {
}

.gallery .gallery-row .project-image-hold > div > a > img {
    max-height: 200px;
}

.footer-wrapper {
    background-color: #f9f9f9;
    border-top: 1px solid #a2a2a2;
    height: 40px;
    border-top-style: dashed;
}

@media only screen and (max-width: 480px) {
    .main-content-hold > div {
        margin: 0px 8%;
        width: 84%;
    }
} 

@media only screen and (max-width: 720px) {
    .fonts-body {
        font-size: 14px;
        line-height: 23px;
    }
    .intro-hold .intro {
        padding-top: 15px;
    }
    .intro-hold .intro {
        padding-bottom: 0;
    }
    .intro-hold .resume-icon .icon-hold {
        margin-top: 20px;
    }
    .gallery .gallery-title {
        font-size: 1.1em;
    }
    .gallery .gallery-row.multiple > div {
        width: 100%
    }
    .gallery .gallery-row.multiple > div:nth-of-type(2n+1) {
        border-right: none;
    }
} 

@media only screen and (max-width: 1024px) {
    .fonts-body {
        font-size: 14px;
        line-height: 23px;
    }
    .intro-hold .resume-icon .icon-hold img {
        max-height: 90px;
    }
    .intro-hold .resume-icon .icon-hold p {
        font-size: 13px;
        margin-top: 8px;
    }
    .gallery .gallery-row.multiple > div {
        width: 100%
    }
    .gallery .gallery-row.multiple > div:nth-of-type(2n+1) {
        border-right: none;
    }
}

@media only screen and (max-width: 1496px) {
    .fonts-body {
        font-size: 16px;
        line-height: 27px;
    }
}
 
 /********************************* CUSTOM BLOG CSS ************************/
 
 
 .navbar-brand {
	font-size: 20px;
    line-height: 22px;
	font-weight: lighter;
 }
 
 .navbar-brand i {
	margin-right: 0.6em;
}

/* IMPORTANTS */
.accent-1 {
    color: #ffc625 !important;
}
